@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #02799D;
  --dark: #000;
  --light: #fff;

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--light);
  background-size: cover;
  background-color: var(--dark);
}

h1 {
  font-size: 4.8rem;
  line-height: 5rem;
  margin-bottom: 2.6rem;
}

p {
  font-size: 1.8rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 5rem 6rem;
  gap: 5rem;
  font-size: 2rem;
  
}

a {
  font-weight: 300;
  text-decoration: none;
  color: var(--light);
}

.active,
a:hover {
  color: var(--primary-color);
}

.center-page {
  padding-top: 180px;
  text-align: center;
  margin: auto;
}

button {
  background-color: transparent;
  padding: 14px 36px;
  border: solid 2px var(--light);
  border-radius: 5px;
  color: var(--light);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: var(--light);
}

button:hover a {
  color: var(--primary-color);
}

.wrap-content {
  width:900px;
  padding: 80px 60px;
}
